{% if breadcrumb %}
    <h2 class="hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if loop.last %}
        <li class="active">
          {{ item.text }}
        </li>
      {% else %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
{% endif %}
